@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.cdnfonts.com/css/satoshi');
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them!
*/
* {
  scroll-behavior: smooth;
}
.main {
  font-family: 'Satoshi', sans-serif;
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}


/* Tailwind Styles */
.profile-dropdown> *:hover {
  background-color: #60a5f1;
  background-clip: padding-box;
  backdrop-filter: blur(4px);
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-color: #d1d5db;
  color:black;
}
.__dashboard-background{
  background-image: url("../public/assets/images/parent-dashboard-background.png");
  height: '100vh';
  background-repeat: 'no-repeat';
  background-size: 'cover';
}
@layer utilities{
  .signIn {
    @apply bg-Shade-Pinkl px-5 py-2 text-white font-bold w-full; /* Fixed the class name, removed the "l" in "Pinkl" */
  }

  /* Fixed hover style */
  .signIn:hover {
    @apply bg-Primary-Dark-Pink px-5 py-2 text-white font-bold w-full ; /* Fixed the class name, replaced "/" with "-" */
  }
  .__container{
    @apply max-w-md mx-auto py-2 mb-5;
  }
}